*{
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
.contenedor_menu,a,li{
    list-style: none;
    text-decoration: none;
    color: black;
}
ul,li{
    display: flex;
    padding: 10px;
  }
  ul{
    margin-left: 42%;
  }
  .portadaprincipal,img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
   
  
  }
  .titulo{
    margin-left: 42%;
    margin-top: 10%;
    position: absolute;
    z-index: 3;
  }
  .descripcion{
    margin-left: 29%;
    margin-top: 15%;
    position: absolute;
    z-index: 3;
    font-size: 20px;
  }
  .vid video{
      width:40% ;
      height:auto;
      border-radius: 20px;
      margin-top: 10px;
  }
  .info{
      margin-left: 44%;
      margin-top: -23%;
      font-size: 25px;
      text-align: justify;
  }
  